
.thumbnail{
  width: 100%;
  margin-bottom: 15px;
}

img{
  display: block;
}
.video-title{
  margin-top: 0;
  font-family: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture{
  width: 35px;
  border-radius: 50px;
  position: relative;
}
.video-author{
  margin-top: 6px;
  color: #beb6b6;
}
.video-stats{
  margin-top: 6px;
  color: #beb6b6;
}
.video-grid{
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
}
@media (max-width: 750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 1199px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr ;
  }
}
@media (min-width: 1200px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-family: roboto, arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 2px;
}
.channel-stats{
  position: absolute;
  background-color: whitesmoke;
  width: 250px;
  margin-top: 10px;
  padding: 10px 10px 20px 10px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  opacity: 0;
  box-shadow: 5px 2px 10px rgb(0, 0, 0, 0.15);
  pointer-events: none;
  transition: opacity 0.3s;
  
}
.channel-picture:hover{
  cursor: pointer;
}
.picture{
  width: 50px;
  border-radius: 50px;
}
.channel-author-picture{
  margin-right: 12px;
}
.channel-details{
  font-family: Roboto, Arial;

}
.channel-author{
  font-size: 17px;
  font-weight: bold;
}
.subscribers{
  color: rgb(190, 190, 190);
}
.channel-picture:hover .channel-stats{
  opacity: 1;
  
}

